/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}

.footer-links a:hover {
    color: #ccc;
}

.copyright {
    font-size: 0.9em;
}
